.app{
    overflow: hidden;
    background: url("../src/img/imp3.gif") center, #131213;
    background-blend-mode: screen;
}

.mySwiper{
    width: 100vw;
    height: 100vh;
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    background-color: white !important;
    transition: all 0.3s ease;
}
  
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 15px !important;
    width: 15px !important;
    
    background-color: orange !important;
}